* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/background-image.jpg");
}
body .hidden {
    display: none;
}
dialog {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    background: #000000b3;
    overflow: hidden;
}
.dialog-quit-game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-quit-game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.dialog-quit-game-content h2 {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    font-size: 33px;
    color: #FBC835;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0 0 8px rgba(255, 255, 0, 0.7);
    letter-spacing: 4px;
}
.dialog-quit-game-content-container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.dialog-quit-game-content-container-buttons button {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    color: white;
    background: linear-gradient(to bottom, #1a0033 0%, #000080 50%, #1a0033 100%);
    border: 3px solid #FBC835;
    padding:  16px 20px 11px 20px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0px 0px 8px rgba(255, 255, 0, 0.7);
    cursor: pointer;
}
.dialog-players {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dialog-quit-game-content,
.dialog-section-content {
    background: linear-gradient(to bottom, #1a0033 0%, #000080 50%, #1a0033 100%);
    border: 5px solid #FBC835;
    border-radius: 15px;
    padding: 25px 35px;
    width: 380px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
.dialog-quit-game-content {
    padding: 35px;
}
.dialog-title {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    font-size: clamp(1.3rem, 1.5rem, 2.2em);
    color: #FBC835;
    text-align: center;
    margin-bottom: 25px;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000,
            0 0 8px rgba(255, 255, 0, 0.7);
    letter-spacing: 2px;
}
.player-options {
    display: flex;
    flex-direction: column;
}
.option-item input[type="radio"] {
    opacity: 0;
    position: absolute;
}
.option-item .option-label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #ffcc00;
    margin-right: 15px;
    vertical-align: middle;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
.option-item input[type="radio"]:checked + .option-label::before {
    border-color: #ffcc00;
}
.option-item input[type="radio"]:checked + .option-label::after {
    content: '';
    position: absolute;
    left: 12px;
    top: 12px;
    width: 9px;
    height: 16px;
    border: solid #ffcc00;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
.option-item {
    position: relative;
    margin: 10px 0;
}
.option-item .option-label {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 5px 0;
    display: block;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}
.dialog-section-footer {
    max-width: 380px;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
}
.main-button-back,
.button-icon,
.button-next {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    font-size: clamp(1.1rem, 1.2rem, 1.3em);
    letter-spacing: 5px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}
.main-button-back:active,
.button-icon:active,
.button-next:active {
    transform: scale(0.98);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}
.dialog-button-back {
    background: linear-gradient(to bottom, #1a0033 0%, #000080 50%, #1a0033 100%);
    padding: 8px 15px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 55px, 60px);
    height: clamp(50px, 55px, 60px);
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255,255,255,0.3);
}
.dialog-button-back img {
    width: clamp(25px, 30px, 35px);
    height: clamp(25px, 30px, 35px);
}
.main-button-back {
    position: absolute;
    left: 10px;
    top: 10px;
    background: linear-gradient(to bottom, #1a0033 0%, #000080 50%, #1a0033 100%);
    padding: 8px 15px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255,255,255,0.3);
}
.main-button-back img {
    width: 28px;
    height: 28px;
}
.button-next {
    background: linear-gradient(to bottom, #1a0033 0%, #000080 50%, #1a0033 100%);
    color: white;
    border: 2px solid #FFFFFF;
    padding: 20px 35px 15px 35px;
    letter-spacing: 2px;
    border-radius: 12px;
}
.color-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.color-options label {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.color-options label img {
    width: 100%;
    height: 100%;
}
.color-options input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.color-options label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: auto;
    height: auto;
}
.color-options label img {
    width: 60px;
    height: 60px;
    z-index: 10;
}
.color-options label::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid;
    background: transparent;
    position: relative;
    margin-top: -10px;
    z-index: 5;
    transition: all 0.15s ease-out;
}
.color-options input[type="radio"]:checked + label::before {
    content: '';
    position: absolute;
    top: 76px;
    left: 24px;
    width: 6px;
    height: 18px;
    border: solid #FFFFFF;
    border-width: 0 6px 6px 0;
    transform: rotate(45deg);
    z-index: 20;
}
.color-options #color-blue + label::after {
    border-color: #0089D9;
}
.color-options #color-red + label::after {
    border-color: #EE3107;
}
.color-options #color-green + label::after {
    border-color: #6FCE66;
}
.color-options #color-yellow + label::after {
    border-color: #FED403;
}
.color-options #color-blue:checked + label::after {
    background: #0089D9;
}
.color-options #color-red:checked + label::after {
    background: #EE3107;
}
.color-options #color-green:checked + label::after {
    background: #6FCE66;
}
.color-options #color-yellow:checked + label::after {
    background: #FED403;
}
.container-first {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.title-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.title-game-ludo {
    width: max-content;
    font-size: 2rem;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: 900;
    display: flex;
    gap: 10px;
}
.title-game p {
    font-family: 'Luckiest Guy', cursive;
    color: #FBC835;
    letter-spacing: 10px;
    font-size: clamp(50px, 12vw, 60px);
    padding-top: 20px;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000,
            0px 0px 8px rgba(255, 255, 0, 0.7);
}
.title-game-ludo div {
    background: #FFFFFF;
    border-radius: 50%;
}
.title-game-ludo span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.8rem;
    font-weight: 900;
    color: transparent;
    background-image: conic-gradient(
            #0089D9 0 25%,
            #EE3107 25% 50%,
            #6FCE66 50% 75%,
            #FED403 75%
    );
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animateBackground 4.5s ease-in-out infinite;
}
.title-game-ludo div:nth-child(1) {
    border: 5px solid #0089D9;
}
.title-game-ludo div:nth-child(2) {
    border: 5px solid #EE3107;
}
.title-game-ludo div:nth-child(3) {
    border: 5px solid #6FCE66;
}
.title-game-ludo div:nth-child(4) {
    border: 5px solid #FED403;
}
.container-first-img {
    max-width: 500px;
    width: 100%;
}
.container-first-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-play {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: white;
    border: none;
    padding: 20px 40px 10px 40px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    background-size: 400% 400%;
    animation: bgChange 4s infinite ease-in-out;
    transition: transform 0.2s ease;
}
.button-play:hover {
    transform: scale(1.05);
}
.container-second {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.container-second-box-one,
.container-second-box-two {
    position: relative;
    border: 5px solid #0089D9;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: borderChange 4s infinite ease-in-out;
}
.container-second-box-one p,
.container-second-box-two p {
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: 'Luckiest Guy', cursive;
    color: #FBC835;
    top: 0;
    left: 0;
    font-size: clamp(16px, 4vw, 25px);
    padding-top: 20px;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000,
            0px 0px 8px rgba(255, 255, 0, 0.7);
}
.container-user-devices,
.container-users {
    display: flex;
    justify-content: center;
    align-items: end;
}
.container-user-devices .img-user,
.container-users .img-user {
    width: 100px;
}
.container-user-devices .img-devices {
    width: 100px;
}
.container-round-arrow {
    width: 200px;
    height: 150px;
}
.button-back {
    position: fixed;
    top: 25px;
    left: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: clamp(30px, 8vw, 50px);
    height: clamp(30px, 8vw, 50px);
}
.button-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-back:hover {
    transform: scale(1.05);
}
main {
    width: 645px;
    margin: 0 auto;
}
.container-dice-bottom,
.container-dice-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    perspective: 500px;
}

.container-player-and-dice {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.player-blue,
.player-yellow,
.player-green,
.player-red {
    width: 40px;
    height: 40px;
    padding: 5px;
}
.player-blue img,
.player-yellow img,
.player-green img,
.player-red img {
    width: 100%;
    height: 100%;
}
.arrow-reminder.green,
.arrow-reminder.blue,
.arrow-reminder.red,
.arrow-reminder.yellow {
    width: 45px;
    height: 45px;
}
.arrow-reminder.red,
.arrow-reminder.yellow {
    transform: translateX(10px);
}
.arrow-reminder.green img,
.arrow-reminder.blue img,
.arrow-reminder.red img,
.arrow-reminder.yellow img {
    width: 100%;
    height: 100%;
    animation: reminder 1s linear infinite alternate;
}
.dice {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}
.side {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #333;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    backface-visibility: hidden;
    border-radius: 10px;
}
.front {
    transform: translateZ(30px);
}
.back {
    transform: rotateY(180deg) translateZ(30px);
}
.left {
    transform: rotateY(-90deg) translateZ(30px);
}
.right {
    transform: rotateY(90deg) translateZ(30px);
}
.top {
    transform: rotateX(90deg) translateZ(30px);
}
.button {
    transform: rotateX(-90deg) translateZ(30px);
}
.front div, .back div, .left div, .right div, .top div, .button div {
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    margin: 6px;
}
.front div {
    grid-row: 2/3;
    grid-column: 2/3;
}
.left div:nth-child(1) {
    margin: 10px 0 0 10px;
}
.left div:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 10px 10px 0 0;
}
.left div:nth-child(3) {
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 0 10px 10px 0;
}
.left div:nth-child(4) {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 0 10px 10px;
}
.back div:nth-child(1) {
    margin: 10px 0 0 10px;
}
.back div:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/3;
}
.back div:nth-child(3) {
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 0 10px 10px 0;
}
.button div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px 0 0 10px;
}
.button div:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 10px 10px 0 0;
}
.button div:nth-child(3) {
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 6px 10px 6px 0;
}
.button div:nth-child(4) {
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 0 10px 0 0;
}
.button div:nth-child(5) {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 6px 0 6px 10px;
}
.button div:nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 0 6px 10px;
}
.top div:nth-child(1) {
    margin: 10px 0 0 10px;
}
.top div:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 10px 10px 0 0;
}
.top div:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 0 10px 10px;
}
.top div:nth-child(4) {
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 0 10px 10px 0;
}
.top div:nth-child(5) {
    grid-row: 2/3;
    grid-column: 2/3;
}
.right div:nth-child(1) {
    margin: 10px 0 0 10px;
}
.right div:nth-child(2) {
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 0 10px 10px 0;
}
.container {
    width: 645px;
    height: 645px;
    position: relative;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(15, 43px);
    grid-template-rows: repeat(15, 43px);
    background-color: #FFFFFF;
}
.top-left-green {
    border: 50px solid #6FCE66;
    grid-row: 1/7;
    grid-column: 1/7;
    border-top-left-radius: 10px;
}
.top-right-red-play-area {
    grid-row: 1/7;
    grid-column: 7/10;
    display: grid;
    grid-template-columns: repeat(3, 43px);
    position: relative;
}
.top-right-red {
    border: 50px solid #EE3107;
    grid-row: 1/7;
    grid-column: 10/16;
    border-top-right-radius: 10px;
}
.center-left-green-play-area {
    grid-row: 7/10;
    grid-column: 1/7;
    display: grid;
    grid-template-rows: repeat(3, 43px);
    position: relative;
}
.center {
    width: 129px;
    height: 129px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(10, 15px);
    grid-template-rows: repeat(10, 15px);
    overflow: hidden;
}
.center-red {
    background-color: #EE3107;
    width: 129px;
    height: 129px;
    transform: rotate(45deg) translate(-65px, -65px);
}
.center-yellow {
    background-color: #FED403;
    width: 129px;
    height: 129px;
    transform: rotate(45deg) translate(53px, -55px);
}
.center-blue {
    background-color: #0089D9;
    width: 129px;
    height: 129px;
    transform: rotate(45deg) translate(42px, 84px);
}
.center-green {
    background-color: #6FCE66;
    width: 129px;
    height: 129px;
    transform: rotate(45deg) translate(-96px, 94px);
}
.center-right-yellow-play {
    grid-row: 7/10;
    grid-column: 10/16;
    display: grid;
    grid-template-rows: repeat(3, 43px);
    position: relative;
}
.bottom-left-blue {
    border: 50px solid #0089D9;
    grid-row: 10/16;
    grid-column: 1/7;
    border-bottom-left-radius: 10px;
}
.bottom-left-blue-play {
    grid-row: 10/16;
    grid-column: 7/10;
    display: grid;
    grid-template-columns: repeat(3, 43px);
    position: relative;
}
.bottom-right-yellow {
    border: 50px solid #FED403;
    grid-row: 10/16;
    grid-column: 10/16;
    border-bottom-right-radius: 10px;
}
.top-left-green,
.top-right-red,
.bottom-left-blue,
.bottom-right-yellow {
    position: relative;
}
.top-left-green-play-area-for-figures,
.top-right-red-play-area-for-figures,
.bottom-left-blue-play-area-for-figures,
.bottom-right-yellow-play-area-for-figures {
    padding: 25px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.top-left-green-play-area-for-figures div,
.top-right-red-play-area-for-figures div,
.bottom-left-blue-play-area-for-figures div,
.bottom-right-yellow-play-area-for-figures div {
    position: relative;
    background-color: rgba(163, 161, 161, 0.37);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-left-green-play-area-for-figures div:nth-child(1),
.top-right-red-play-area-for-figures div:nth-child(1),
.bottom-left-blue-play-area-for-figures div:nth-child(1),
.bottom-right-yellow-play-area-for-figures div:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}
.top-left-green-play-area-for-figures div:nth-child(2),
.top-right-red-play-area-for-figures div:nth-child(2),
.bottom-left-blue-play-area-for-figures div:nth-child(2),
.bottom-right-yellow-play-area-for-figures div:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}
.top-left-green-play-area-for-figures div:nth-child(3),
.top-right-red-play-area-for-figures div:nth-child(3),
.bottom-left-blue-play-area-for-figures div:nth-child(3),
.bottom-right-yellow-play-area-for-figures div:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
}
.top-left-green-play-area-for-figures div:nth-child(4),
.top-right-red-play-area-for-figures div:nth-child(4),
.bottom-left-blue-play-area-for-figures div:nth-child(4),
.bottom-right-yellow-play-area-for-figures div:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/3;
}
.top-right-red-play-area div,
.center-left-green-play-area div,
.center-right-yellow-play div,
.bottom-left-blue-play div {
    outline: 1px solid #9a9999;
}
.top-right-red-play-area img,
.center-left-green-play-area img,
.center-right-yellow-play img,
.bottom-left-blue-play img {
    position: absolute;
    width: 30px;
    height: 30px;
}
.arrow-green {
    top: 50px;
    left: 5px;
}
.arrow-red {
    top: 5px;
    right: 50px;
    transform: rotate(90deg);
}
.arrow-blue {
    bottom: 5px;
    left: 50px;
    transform: rotate(-90deg);
}
.arrow-yellow {
    right: 5px;
    top: 50px;
    transform: rotate(180deg)
}
.icon-yellow {
    right: 93px;
    top: 5px;
}
.icon-red {
    top: 93px;
    left: 5px;
}
.icon-green {
    bottom: 5px;
    left: 93px;
}
.icon-blue {
    right: 5px;
    bottom: 93px;
}
.parent-1-yellow, .parent-2-yellow, .parent-3-yellow,
.parent-1-green, .parent-2-green, .parent-3-green {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-1-blue div, .parent-2-blue div, .parent-3-blue div,
.parent-1-red div, .parent-2-red div, .parent-3-red div,
.parent-1-yellow div, .parent-2-yellow div, .parent-3-yellow div,
.parent-1-green div, .parent-2-green div, .parent-3-green div {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-2-red {
    background-color: #EE3107;
}
.child-2-green {
    background-color: #6FCE66;
}
.child-2-yellow {
    background-color: #FED403;
}
.child-2-blue {
    background-color: #0089D9;
}
.child-2-red:first-child {
    background-color: transparent;
}
.child-2-green:first-child {
    background-color: transparent;
}
.child-2-yellow:last-child {
    background-color: transparent;
}
.child-2-blue:last-child {
    background-color: transparent;
}
.child-1-blue:nth-last-child(2) {
    background-color: #0089D9;
}
.child-1-green:nth-child(2) {
    background-color: #6FCE66;
}
.child-3-red:nth-child(2) {
    background-color: #EE3107;
}
.child-3-yellow:nth-last-child(2) {
    background-color: #FED403;
}
.img-star-sun-4-red, .img-star-sun-3-red, .img-star-sun-2-red, .img-star-sun-1-red,
.img-star-sun-4-green, .img-star-sun-3-green, .img-star-sun-2-green, .img-star-sun-1-green,
.img-star-sun-4-blue, .img-star-sun-3-blue, .img-star-sun-2-blue, .img-star-sun-1-blue,
.img-star-sun-4-yellow, .img-star-sun-3-yellow, .img-star-sun-2-yellow, .img-star-sun-1-yellow {
    display: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.img-star-sun-4-red.active, .img-star-sun-3-red.active, .img-star-sun-2-red.active, .img-star-sun-1-red.active,
.img-star-sun-4-green.active, .img-star-sun-3-green.active, .img-star-sun-2-green.active, .img-star-sun-1-green.active,
.img-star-sun-4-blue.active, .img-star-sun-3-blue.active, .img-star-sun-2-blue.active, .img-star-sun-1-blue.active,
.img-star-sun-4-yellow.active, .img-star-sun-3-yellow.active, .img-star-sun-2-yellow.active, .img-star-sun-1-yellow.active {
    display: block;
}
.img-player-4-red, .img-player-3-red, .img-player-2-red, .img-player-1-red,
.img-player-4-green, .img-player-3-green, .img-player-2-green, .img-player-1-green,
.img-player-4-blue, .img-player-3-blue, .img-player-2-blue, .img-player-1-blue,
.img-player-4-yellow, .img-player-3-yellow, .img-player-2-yellow, .img-player-1-yellow {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 18px;
    cursor: pointer;
}
@keyframes animateBackground {
    25% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes bgChange {
    0%   { background-color: #0089D9; }
    25%  { background-color: #EE3107; }
    50%  { background-color: #6FCE66; }
    75%  { background-color: #FED403; }
    100% { background-color: #0089D9; }
}
@keyframes borderChange {
    0%   { border-color: #0089D9; }
    25%  { border-color: #EE3107; }
    50%  { border-color: #6FCE66; }
    75%  { border-color: #FED403; }
    100% { border-color: #0089D9; }
}
@keyframes cube {
    0% {
        transform: rotateX(360deg)  rotateY(0deg);
    }
    100% {
        transform: rotateX(0deg)  rotateY(360deg);
    }
}
@keyframes reminder {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-15px);
    }
}
@media (max-width: 700px) {
    main {
        width: 450px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        width: 450px;
        height: 450px;
        grid-template-columns: repeat(15, 30px);
        grid-template-rows: repeat(15, 30px);
    }
    .bottom-left-blue-play,
    .top-right-red-play-area {
        grid-template-columns: repeat(3, 30px);
    }
    .center-right-yellow-play,
    .center-left-green-play-area {
        grid-template-rows: repeat(3, 30px);
    }
    .top-left-green-play-area-for-figures,
    .top-right-red-play-area-for-figures,
    .bottom-left-blue-play-area-for-figures,
    .bottom-right-yellow-play-area-for-figures {
        padding: 15px;
    }
    .parent-1-blue div, .parent-2-blue div, .parent-3-blue div,
    .parent-1-red div, .parent-2-red div, .parent-3-red div,
    .parent-1-yellow div, .parent-2-yellow div, .parent-3-yellow div,
    .parent-1-green div, .parent-2-green div, .parent-3-green div {
        width: 30px;
        height: 30px;
    }
    .top-left-green-play-area-for-figures div,
    .top-right-red-play-area-for-figures div,
    .bottom-left-blue-play-area-for-figures div,
    .bottom-right-yellow-play-area-for-figures div {
        width: 40px;
        height: 40px;
    }
    .img-player-4-red, .img-player-3-red, .img-player-2-red, .img-player-1-red,
    .img-player-4-green, .img-player-3-green, .img-player-2-green, .img-player-1-green,
    .img-player-4-blue, .img-player-3-blue, .img-player-2-blue, .img-player-1-blue,
    .img-player-4-yellow, .img-player-3-yellow, .img-player-2-yellow, .img-player-1-yellow {
        width: 40px;
        height: 40px;
        bottom: 15px;
    }
    .center {
        width: 90px;
        height: 90px;
    }
    .center-red,
    .center-yellow,
    .center-blue,
    .center-green {
        width: 90px;
        height: 90px;
    }
    .center-yellow {
        transform: rotate(45deg) translate(34px, -34px);
    }
    .center-red {
        transform: rotate(45deg) translate(-45px, -45px);
    }
    .center-blue {
        transform: rotate(45deg) translate(23px, 66px);
    }
    .center-green {
        transform: rotate(45deg) translate(-77px, 77px);
    }
    .top-right-red-play-area img,
    .center-left-green-play-area img,
    .center-right-yellow-play img,
    .bottom-left-blue-play img {
        width: 20px;
        height: 20px;
    }
    .arrow-green {
        top: 35px;
        left: 3px;
    }
    .arrow-red {
        top: 3px;
        right: 35px;
    }
    .arrow-blue {
        bottom: 3px;
        left: 35px;
    }
    .arrow-yellow {
        right: 3px;
        top: 35px;
    }
    .icon-yellow {
        right: 65px;
        top: 3px;
    }
    .icon-red {
        top: 65px;
        left: 3px;
    }
    .icon-green {
        bottom: 3px;
        left: 65px;
    }
    .icon-blue {
        right: 3px;
        bottom: 65px;
    }
    .player-blue,
    .player-yellow,
    .player-green,
    .player-red {
        width: 35px;
        height: 35px;
    }
    .dice {
        width: 48px;
        height: 48px;
    }
    .front {
        transform: translateZ(24px);
    }
    .back {
        transform: rotateY(180deg) translateZ(24px);
    }
    .left {
        transform: rotateY(-90deg) translateZ(24px);
    }
    .right {
        transform: rotateY(90deg) translateZ(24px);
    }
    .top {
        transform: rotateX(90deg) translateZ(24px);
    }
    .button {
        transform: rotateX(-90deg) translateZ(24px);
    }
    .front div, .back div, .left div, .right div, .top div, .button div {
        width: 5px;
        height: 5px;
    }
    .side {
        border-radius: 8px;
    }
    .arrow-reminder.green,
    .arrow-reminder.blue,
    .arrow-reminder.red,
    .arrow-reminder.yellow {
        width: 30px;
        height: 30px;
    }
    .main-button-back {
        width: 45px;
        height: 45px;
    }
    .main-button-back img {
        width: 23px;
        height: 23px;
    }
}
@media (max-width: 500px) {
    main {
        width: 330px;
    }
    .container {
        width: 330px;
        height: 330px;
        grid-template-columns: repeat(15, 22px);
        grid-template-rows: repeat(15, 22px);
    }
    .bottom-left-blue-play,
    .top-right-red-play-area {
        grid-template-columns: repeat(3, 22px);
    }
    .center-right-yellow-play,
    .center-left-green-play-area {
        grid-template-rows: repeat(3, 22px);
    }
    .top-left-green-play-area-for-figures,
    .top-right-red-play-area-for-figures,
    .bottom-left-blue-play-area-for-figures,
    .bottom-right-yellow-play-area-for-figures {
        padding: 10px;
    }
    .parent-1-blue div, .parent-2-blue div, .parent-3-blue div,
    .parent-1-red div, .parent-2-red div, .parent-3-red div,
    .parent-1-yellow div, .parent-2-yellow div, .parent-3-yellow div,
    .parent-1-green div, .parent-2-green div, .parent-3-green div {
        width: 22px;
        height: 22px;
    }
    .top-left-green-play-area-for-figures div,
    .top-right-red-play-area-for-figures div,
    .bottom-left-blue-play-area-for-figures div,
    .bottom-right-yellow-play-area-for-figures div {
        width: 25px;
        height: 25px;
    }
    .img-player-4-red, .img-player-3-red, .img-player-2-red, .img-player-1-red,
    .img-player-4-green, .img-player-3-green, .img-player-2-green, .img-player-1-green,
    .img-player-4-blue, .img-player-3-blue, .img-player-2-blue, .img-player-1-blue,
    .img-player-4-yellow, .img-player-3-yellow, .img-player-2-yellow, .img-player-1-yellow {
        width: 25px;
        height: 25px;
        bottom: 10px;
    }
    .center {
        width: 66px;
        height: 66px;
    }
    .center-red,
    .center-yellow,
    .center-blue,
    .center-green {
        width: 66px;
        height: 66px;
    }
    .center-yellow {
        transform: rotate(45deg) translate(22px, -22px);
    }
    .center-red {
        transform: rotate(45deg) translate(-33px, -33px);
    }
    .center-blue {
        transform: rotate(45deg) translate(10px, 54px);
    }
    .center-green {
        transform: rotate(45deg) translate(-64px, 64px);
    }
    .top-right-red-play-area img,
    .center-left-green-play-area img,
    .center-right-yellow-play img,
    .bottom-left-blue-play img {
        width: 15px;
        height: 15px;
    }
    .arrow-green {
        top: 25px;
        left: 2px;
    }
    .arrow-red {
        top: 3px;
        right: 25px;
    }
    .arrow-blue {
        bottom: 2px;
        left: 25px;
    }
    .arrow-yellow {
        right: 2px;
        top: 25px;
    }
    .icon-yellow {
        right: 48px;
        top: 2px;
    }
    .icon-red {
        top: 48px;
        left: 2px;
    }
    .icon-green {
        bottom: 2px;
        left: 48px;
    }
    .icon-blue {
        right: 2px;
        bottom: 48px;
    }
    .player-blue,
    .player-yellow,
    .player-green,
    .player-red {
        width: 25px;
        height: 25px;
    }
    .dice {
        width: 38px;
        height: 38px;
    }
    .front {
        transform: translateZ(19px);
    }
    .back {
        transform: rotateY(180deg) translateZ(19px);
    }
    .left {
        transform: rotateY(-90deg) translateZ(19px);
    }
    .right {
        transform: rotateY(90deg) translateZ(19px);
    }
    .top {
        transform: rotateX(90deg) translateZ(19px);
    }
    .button {
        transform: rotateX(-90deg) translateZ(19px);
    }
    .side {
        border-radius: 5px;
        padding: 2px;
    }
    .front div, .back div, .left div, .right div, .top div, .button div {
        margin: 3px;
    }
    .dice .front div,
    .dice .back div,
    .dice .left div,
    .dice .right div,
    .dice .top div,
    .dice .button div {
        margin: 3px;
    }
    .arrow-reminder.green,
    .arrow-reminder.blue,
    .arrow-reminder.red,
    .arrow-reminder.yellow {
        width: 20px;
        height: 20px;
    }
    .container-first {
        padding: 0 35px;
    }
    .title-game-ludo span {
        width: 45px;
        height: 45px;
    }
    .container-second-box-one button,
    .container-second-box-two button {
        padding: 15px 35px 5px 35px;
        font-size: 20px;
    }
    .container-user-devices .img-devices {
        width: 60px;
    }
    .container-user-devices .img-user,
    .container-users .img-user {
        width: 60px;
    }
    .container-round-arrow {
        width: 120px;
        height: 90px;
    }
    .container-round-arrow img {
        width: 100%;
    }
    .main-button-back {
        width: 35px;
        height: 35px;
    }
    .main-button-back img {
        width:  15px;
        height: 15px;
    }
}